<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css"/>
</head>

<body>
    <div class="container">
        {{>header}}

        <p>Get your weather!</p>
    </div>

    {{>footer}}
</body>

</html>